* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background: #000;
}
h2 {
  font-size: 6em;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
  cursor: pointer;
}
h3 {
  color: #fff;
}
p {
  color: rgb(255, 244, 92);
}
h2 span {
  transition: 1s;
}
/*
  h2:hover span:nth-child(1) {
    margin-right: 10px;
  }*/
h2:hover span:nth-child(1):before {
  content: "Parar... ";
}
h2:hover span:nth-child(2) {
  margin-right: 40px;
}
h2:hover span {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 80px #fff,
    0 0 120px #fff, 0 0 160px #fff;
}
