* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
}

.enunciado {
  width: 500px;
}

.form-data {
  width: 400px;
  background: rgb(22, 21, 27);
  padding: 30px;
  margin: auto;
  margin-top: 50px;
  border-radius: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.checks {
  width: 100%;
  background: rgb(224, 217, 216);
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 2px solid rgba(8, 8, 241, 0.795);
  font-size: 15px;
}

.buttons {
  width: 100%;
  background: rgba(8, 8, 241, 0.795);
  border: none;
  padding: 5px;
  color: white;
  margin: 5px 0;
  font-size: 20px;
}
form h3 {
  font-size: 3rem;
  margin-bottom: 20px;
  text-align: center;
}
